{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/profile.css')}}">
{% endblock %}

{% block body %}
{# succes #}
{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
{% endfor %}
<h1 class="my-4 text-center">Profil</h1>
<article class="row my-2 mx-2">
{# Form Modif profile #}
    <section class="col text-center">
        <form method="post" action="{{ path('app_formuser')}}">
            <div class="content row mx-auto">
                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}
                {{ form_errors(formUser) }}
                {{ form_start(formUser) }}
                <p style="font-size: 125%;font-weight: bolder;">Email</p>
                {{ form_row(formUser.userEmail) }}
                <hr class="w-25 mx-auto">
                <hr class="w-25 mx-auto">
                <p style="font-size: 125%;font-weight: bolder;">Coordonnés</p>
                <div class='row text-center mx-1'>
                    <div class="col">
                        {{ form_row(formUser.userName) }}
                    </div>
                    <div class="col">
                        {{ form_row(formUser.userFristName) }}
                    </div>
                </div>
                <div class="row text-center mx-1">
                    <div class="col">
                        {{ form_row(formUser.UserPhone) }}
                    </div>
                    <div class="col py-5 ">
                        {{ form_row(formUser.agreeTerms) }}
                    </div>
            </div>
            <hr class="w-25 mx-auto">
                <p style="font-size: 125%;font-weight: bolder;">Password</p>
                {{ form_row(formUser.Password, {
                    label: 'Password'
                }) }}
                <div class="text-center">
                    {{ form_end(formUser) }}
                </div>
        </form>
            <script>
            $('.btn_modif_inscription').html("Modification");
            </script>
    </section> 
{# Selection adress existante #}
   <section class="col mx-3 mt-5 pt-5 text-center">
        <select class="form-select mt-2" aria-label="0" id="adress_input_select">
            <option value="0">
            Nouvelle Adresse
            </option>
            {% for adress_user_selected in adress_user_selected %}
                    <option value="{{ adress_user_selected.id }}" id="adress_option">
                    {{ adress_user_selected.adrNumber}}  {{ adress_user_selected.adrStreet}}  {{ adress_user_selected.adrCity}} {{ adress_user_selected.adrZipCode}}
                    </option>
            {% endfor %}
        </select>
        <form method="post" action="{{ path('app_formadress')}}">
            {{ form_errors(formAdress) }}
            {{ form_start(formAdress) }}
                {{ form_row(formAdress.adrNumber) }}
                {{ form_row(formAdress.adrStreet) }}
                {{ form_row(formAdress.adrCity) }}
                {{ form_row(formAdress.adrZipCode) }}
                {{ form_row(formAdress.adrAddInfo) }}
                <p>Hidden</p>
                <div Hidden>
                {{ form_row(formAdress.users) }}</div>
            {{ form_end(formAdress) }}
        <form>
    </section>
</article>

{# Historique command #}
<h2 class="text-center">Commandes</h2>
{% for histo_cmd in histo_cmd %}
{# Btn Histo Cmd #}
<div class="mx-auto text-center">
        <hr>
<section class="row mx-auto text-center justify-content-center">
    <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#open_detail_{{ histo_cmd.ordref }}" aria-expanded="false" aria-controls="collapseExample">
        <div class='row text-center'>
            <div class="col mx-5">
                <p class="row">ref</p>
                <p class="row">{{ histo_cmd.ordref }}</p>
            </div>
            <div class="col mx-5">
                <p class="row">Status</p>
                    {% if histo_cmd.ordStatusBill  == 1 %}
                    <p class="row">Attente</p>
                    {% endif %}
                    {% if histo_cmd.ordStatusBill  == 2 %}
                    <p class="row">Payé</p>
                    {% endif %}
                    {% if histo_cmd.ordStatusBill  == 3 %}
                    <p class="row">Retard</p>
                    {% endif %}
            </div>
            <div class="col mx-5">
                <p class="row">Date</p>
                <p class="row">{{ histo_cmd.ordDateBill|date("m/d/Y") }}</p>
            </div>
            <div class="col">
                <p>Prix Total HT</p>
                <p>{{ histo_cmd.ordPrixTotalHT }}</p>
            </div>
            <div class="col">
                <p>Prix Total TTC</p>
                <p>{{ histo_cmd.ordPrixTotal }}</p>
            </div>
            <div class="col mx-5">
                <p class="row">Facture</p>
                {# modif id #}
                <a href='{{path('app_facture',{'id': histo_cmd.id })}}' class="row btn btn-warning" name="facture" id="facture">
                    <i class="fa-solid fa-file-invoice"></i>
                </a>
                </div>
            </div>
        </div>
    </button>
</section>



    <div class="collapse mx-5 px-5" id="open_detail_{{ histo_cmd.ordref }}">
        <div class="card card-body text-center">
            <div class="row">
                <p>Livraison : {{ histo_cmd.ordAdressDelivery }}</p>
                <p>Facturation : {{ histo_cmd.ordAdressBilling }}</p>
            </div>
             <hr>
            {# produit #}
            <div class="row">
                {% for product_orders in product_orders %}
                    {% if product_orders.orders.id == histo_cmd.id %}
                        <div class="col">
                            <p class="row">Nom :</p>
                            <p class="row">{{ product_orders.ProOrdNameProduct }}</p>
                        </div>
                        <div class="col">
                            <p>Prix u/ht</p>
                            <p>{{ product_orders.ProOrdPriceUht }}</p>
                        </div>
                        <div class="col">
                            <p>Tva</p>
                            <p>{{ (product_orders.ProOrdPriceUht * 0.20)|round(2,"floor") }}</p>
                        </div>
                        <div class="col">
                            <p class="row">Quantité :</p>
                            <p class="row">{{ product_orders.ProOrdProductQuantity }}</p>
                        </div>
                    {# product_delivery #}
                    {% for histo_delivery in histo_delivery %}
                    {% for product_delivery in product_delivery %}
                            {% if (histo_delivery.orders.id == histo_cmd.id) and (histo_delivery.id == product_delivery.delivery.id) %}
                                <div class="col mx-2">
                                    <p class="row">Expedition </p>
                                    <p class="row">{{ histo_delivery.delDateExped|date("m/d/Y") }}</p>
                                </div>
                                <div class="col mx-2">
                                        {# Planified Date Not Hidden #}
                                            {% if histo_delivery.delDateDeliveryClient == null %}
                                    <p class="row">En cours</p>
                                    <p class="row">{{ histo_delivery.delDatePlannedDelivery|date("m/d/Y") }}</p>
                                            {% endif %}
                                        {# Delivery Date #}
                                            {% if histo_delivery.delDateDeliveryClient != null %}
                                    <p class="row">Livré</p>
                                    <p class="row">{{ histo_delivery.delDateDeliveryClient|date("m/d/Y") }}</p>
                            {% endif %}
                                </div>
                            {% endif %}
                    {% endfor %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endfor %}

<div class="my-5 text-white">y</div>
<script src={{asset('assets/js/adress.js')}}></script>
{% endblock %}