{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/profile.css')}}">
{% endblock %}

{% block body %}
{# succes #}
{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
{% endfor %}
{# Form Modif profile #}

<div class="col">
    <form method="post" action="{{ path('app_formuser')}}">
        <div class="content row mx-auto">
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}
            {{ form_errors(formUser) }}
            {{ form_start(formUser) }}
            <hr class="w-25 mx-auto">
            <p style="font-size: 125%;font-weight: bolder;">Email</p>
            {{ form_row(formUser.userEmail) }}
            <hr class="w-25 mx-auto">
            <hr class="w-25 mx-auto">
            <p style="font-size: 125%;font-weight: bolder;">Coordonnés</p>
            <div class='row text-center mx-1'>
                <div class="col">
                    {{ form_row(formUser.userName) }}
                </div>
                <div class="col">
                    {{ form_row(formUser.userFristName) }}
                </div>
            </div>
            <div class="row text-center mx-1">
                <div class="col">
                    {{ form_row(formUser.UserPhone) }}
                </div>
                <div class="col py-5 ">
                    {{ form_row(formUser.agreeTerms) }}
                </div>
        </div>
            <p style="font-size: 125%;font-weight: bolder;">Password</p>
            {{ form_row(formUser.Password, {
                label: 'Password'
            }) }}
            {{ form_end(formUser) }}
    </form>
</div> 

<script>
$('.btn_modif_inscription').html("Modification");
</script>



{# Selection adress existante #}
<select class="form-select" aria-label="0" id="adress_input_select">
    <option value="0">
    Nouvelle Adresse
    </option>
     {% for adress_user_selected in adress_user_selected %}
            <option value="{{ adress_user_selected.id }}" id="adress_option">
             {{ adress_user_selected.adrNumber}}  {{ adress_user_selected.adrStreet}}  {{ adress_user_selected.adrCity}} {{ adress_user_selected.adrZipCode}}
             </option>
    {% endfor %}
</select>
<form method="post" action="{{ path('app_formadress')}}">
    {{ form_errors(formAdress) }}
    {{ form_start(formAdress) }}
        {{ form_row(formAdress.adrNumber) }}
        {{ form_row(formAdress.adrStreet) }}
        {{ form_row(formAdress.adrCity) }}
        {{ form_row(formAdress.adrZipCode) }}
        {{ form_row(formAdress.adrAddInfo) }}
        <p>Hidden</p>
        {{ form_row(formAdress.users) }}
    {{ form_end(formAdress) }}
<form>

{# Historique command #}

<pre>
    {{ dump(histo_cmd) }}
</pre>
<pre>
    {{ dump(histo_delivery) }}
</pre>
{% for histo_cmd in histo_cmd %}
<hr>
{# Donne delivery link orders #}
{% for histo_delivery in histo_delivery %}
    {% if histo_delivery.orders == histo_cmd %}
    <p>date expedition {{ histo_delivery.delDateExped|date("m/d/Y") }}</p>
    {# Planified Date Not Hidden #}
        {% if histo_delivery.delDateDeliveryClient == null %}
            <p>Date livraison planifie {{ histo_delivery.delDatePlannedDelivery|date("m/d/Y") }}</p>
        {% endif %}
    {# Delivery Date #}
        {% if histo_delivery.delDateDeliveryClient != null %}
            <p>Date livraison {{ histo_delivery.delDateDeliveryClient|date("m/d/Y") }}</p>
        {% endif %}
    {% endif %}
{% endfor %}
{# donne Orders #}
    <p>ref {{ histo_cmd.ordref }}</p>
    <p>reduction {{ histo_cmd.ordReduction }}</p>
    <p>coef {{ histo_cmd.ordClientCoefficient }}</p>
    <p>livraison {{ histo_cmd.ordAdressDelivery }}</p>
    <p>facturation {{ histo_cmd.ordAdressBilling }}</p>
    <p>prix total {{ histo_cmd.ordPrixTotal}}</p>
    <p>date paiement {{ histo_cmd.ordDateBill|date("m/d/Y") }}</p>
{# produit #}

{% set prixUht = 54  %}
{% set client_coef = histo_cmd.ordClientCoefficient %}
    {% set resultat_prix_u = (prixUht * client_coef)*1.20 %}
{{resultat_prix_u}}
    <hr>

{% endfor %}





<script src={{asset('assets/js/adress.js')}}></script>
{% endblock %}


