{# modal mention legal #}
<div class="modal fade" id="mlegal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        LES MENTIONS LEGALES !!!!
      </div>
      <div class="modal-footer">
        <p>fin des mentions legales</p>
      </div>
    </div>
  </div>
</div>


{# modal login #}
 {% if app.user == null %}
<div class="modal" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content loginmodal">
            <div class="modal-header mx-auto">
                <h5 class="modal-title" id="exampleModalLabel">Login
                    <label class="switch">
                        <input type="checkbox" id="changemodal" checked>
                        <span class="slider round"></span>
                    </label> Inscription
                </h5>
            </div>
            <div class="modal-body container text-center">
                <div class="text-center login" id="loginchange">
                    <form method="post" action="{{ path('app_login')}}">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                        <label for="inputUserEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="userEmail" id="inputUserEmail" class="form-control" autocomplete="email" required autofocus>
                        <label for="inputpassword">password</label>
                        <input type="password" name="password" id="inputpassword" class="form-control" autocomplete="current-password" required>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                        <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
                    </form>
                </div>
            </div>
            <div class="text-center inscription" id="inscription">
                <form method="post" action="{{ path('app_register')}}">
                    <div class="content row mx-auto">
                        {% for flash_error in app.flashes('verify_email_error') %}
                            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                        {% endfor %}
                        <h1 class="font-weight-bold">Inscription</h1>
                        {{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate'}}) }}
                            {{ form_widget(registrationForm) }}
                        {{ form_end(registrationForm) }}
                        {# {{ form_errors(registrationForm) }}
                        {{ form_start(registrationForm) }}
                        <hr class="w-25 mx-auto">
                        <p style="font-size: 125%;font-weight: bolder;">Email</p>
                        {{ form_row(registrationForm.userEmail) }}
                        <hr class="w-25 mx-auto">
                        <p style="font-size: 125%;font-weight: bolder;">Password</p>
                        {{ form_row(registrationForm.Password) }}
                        <hr class="w-25 mx-auto">
                        <p style="font-size: 125%;font-weight: bolder;">Coordonnés</p>
                        <div class='row text-center mx-1'>
                            <div class="col">
                                {{ form_row(registrationForm.userName) }}
                            </div>
                            <div class="col">
                                 {{ form_row(registrationForm.userFirstName) }}
                            </div>
                        </div>
                        <div class="row text-center mx-1">
                            <div class="col">
                                {{ form_row(registrationForm.userPhone) }}
                            </div>
                            <div class="col py-5 ">
                                {{ form_row(registrationForm.agreeTerms) }}
                            </div>
                        </div>
                        {{ form_end(registrationForm) }} #}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" aria-label="Close">Close</button>
            </div>
        </div>
    </div>
</div>

{% endif %}