{# Modal Panier#}

<div class="modal fade" id="basket-shopping" tabindex="-1" aria-labelledby="basket-shoppingLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content shopmodal">
      <div class="modal-header text-center mx-auto">
        <i class="fa-sharp fa-solid fa-basket-shopping mx-2"></i>
        <h5 class="modal-title" id="basket-shoppingLabel">Panier</h5>
        <i class="fa-sharp fa-solid fa-basket-shopping mx-2"></i>
      </div>
      <div class="modal-body">
      {# Panier #}
        <section class="row px-2">

            <article class="row text-center">
                <div class="col">
                    <p>Produit</p>
                </div>
                <p class="col">Nom</p>
                <p class="col">Prix|u</p>
                <div class='col row'>
                    <p class="row">Quantite</p>
                </div>
                <p class="col">Prix|q</p>
                <p class="col-sm">Delete</p>
            </article>
            <hr class="my-2">
        {% for panier in panier_client.paniers %}
            {# Start Ligne Panier #}
            <article class="row text-center ligne_panier_{{ panier.id }}">
                  {% for product in product %}
                  {% if product == panier.Products %}
                  <div class="col">
                      <img src={{ asset('assets/product/' ~ product.proPictureName ) }} alt={{ product.proName }} style="height:50px; width:50px;">
                  </div>
                  <p class="col">{{ product.proName }}</p>
                  {% endif %}
                  {% endfor %}
                  <p class="col">{{ panier.PriceUser|number_format(2, ',', ' ' ) }} €</p>
                  <div class='col row text-center'>
                      <p class="row" id='quantity_{{ panier.id }}'>{{ panier.QuantityProduit }}</p>
                      <div class="row">
                          <button class="col-sm btn btn-outline-secondary sup_quantity quantity_sup" value={{panier.id}}>-</button>
                          <button class="col-sm btn btn-outline-primary add_quantity quantity_add" value={{panier.id}}>+</button>
                      </div>
                  </div>
                  {% set price_ligne = panier.PriceUser * panier.QuantityProduit %}
                  <p class="col" id='quanity_price_{{ panier.id }}'>{{ price_ligne|number_format(2, ',', ' ' )}} €</p>
                  <div class="col">
                      <button class="col-sm btn btn-outline-danger ligne_del" value={{panier.id}}>
                          <i class="fa-solid fa-trash"></i>
                      </button>
                  </div>
                <hr class="my-2">
            </article>
            {# End Ligne Panier #}
        {% endfor %}
        {% set prix_TVA = prix_total * 1.20 %}
        {% set TVA = prix_total * 1.20 - prix_total %}

        <article class="row text-center">
        <p id='input_total_price_view_client'>Prix Panier Ht : {{ prix_total|number_format(2, ',', ' ' ) }} €</p>
        <p>Tva : {{ TVA|number_format(2, ',', ' ' ) }} €</p>
        <p>Prix Panier TTC : {{ prix_TVA|number_format(2, ',', ' ' ) }} €</p>
        <input type="text" id='input_total_price' value={{ prix_total }} hidden/>
        </article>

        <!-- Modal footer with Close button and Payment link -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger mx-2" data-bs-dismiss="modal">Close</button>
          <a href={{  path("app_commande") }} class="btn btn-outline-primary">Paiement</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script src={{ asset('assets/js/panier.js') }}></script>